.date-range-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart-container {
  width: 600px;
  height: 1200px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
}